* {
	margin: 0;
	box-sizing: border-box;
}
body {
	margin-top:0;
	background-color: black;
	color:khaki;
	font-size: 1.2em;
}
hr {
	margin:0;padding:0;
	border-top:2px #c3920c ridge;
}
main {
	background-color:black;
	color: khaki;
	margin-top: 20px;
}
.content {
	width: 90%;
	max-width:400px;
	margin: auto;
}
h2 {
	color: #c3920c;
}
footer {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	padding: 10px;
  color: #787346;
	font-size: 60%;
	font-style: italic;
	position: fixed;
	bottom: 0;
	background-color:black;
}
/*game*/
#new {
	height:30px;
	padding:3px 10px 0 10px;
	/*filter: brightness(200%);*/
}
.icon {
	height:30px;
	padding:0 4px 4px 4px;
	border:none !important;
}
div.buttons {
	width: 100%;
	background-color: black;
	height: 50px;
	color: khaki;
	border-radius: 5px;
	border: 3px #c3920c solid;
	overflow: auto;
	margin: 10px auto;
	padding:6px 3px 3px 3px;
}
div.buttons button {
	float:right;
	color: khaki;
}

div.buttons button, div.buttons form input[type=image], #message{
	background-color: transparent;
	padding: 2px 4px;
	border-radius: 5px;
	border:none;
}

div.buttons button.btn:hover {
	color: khaki;
	border: 1px khaki solid !important;
	cursor: pointer;
}

/*
div#message {
	color: khaki;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px khaki solid;
	border-bottom: 1px khaki solid;
}*/
div.lepes {
	background-color:black;
	position: relative;
	padding:5px;
	text-align:center;

	/*display: none;*/
}
button#me {
	width: 100%;
	padding: 5px;
	background-color: #c3920c;
	color: black;
	border: none;
	border-radius: 5px;
	border-color: khaki;

}
#gep:hover, #jatekos:hover, #me:hover, #restart:hover, #back:hover, #hint:hover {
	cursor: pointer !important;
}

#restart, #back, #hint {
	display: none;
}

div#stars {
	margin: 5px auto;
	padding: 5px 0;
}

img.star {
	width: 35px;
}

div.playground {
	margin: 25px auto;
}
img.gyufa {
	height: 70px;
	width: 25px;
	margin:5px 3px;
}
img.gyufa:hover {
	filter: grayscale(50%);
	cursor: pointer;
}
#lose, #win {
	background-position: center center;
	background-repeat: no-repeat;
	margin: 15px auto;
	height: 400px;
	background-size: 60% auto;
	display: none;
}
#lose {background-image: url(../nim/lose.png);}
#win {background-image: url(../nim/win.png);}

.szintkep {
	margin: 10px;
	height: 50px;
	display: inline-block;
}
.szintszoveg {
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
}