
RewriteEngine on

DirectoryIndex index.html index.php
Options -Indexes

Options +FollowSymlinks
RewriteBase /
RewriteCond %{HTTP_HOST} ^nim\.nytta\.hu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.nim\.nytta\.hu$
RewriteRule ^/?$ "https\:\/\/nimjatek\.hu\/" [R=301,L]
